.Menu h3{
    float: left;
    margin: 0px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: black;
    font-size: 25px;
}
i{
    width: 40px;
    height: 40px;
    float: left;
    justify-content: center;
    margin:4px;
    font-size: 25px;
}
.menuright{
    margin: 0px;
    padding-left:1250px;
    justify-content: center;
    font-size: 20px;
}
.contant{
    padding-top: 150px;
    padding-left: 200px;
    box-sizing: border-box;
    float: left;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin:0px;
}
.Hello { 
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 180px;
}
h1{
    font-size: 50px;
    width: 120px;
    height: 50px;
}
h4{
    font-size: 20px;
    padding-top: 10px;
}
.para{
     margin:0px;
     width:200px;
     height: 200px;
}
.tags{
    margin:0px;
    float: left;
    padding-top:500px;
}
.tags h5{
    width:100px;
    height:100px;
    border-radius: 50%;
    font-size: 20px;
    float: left;
    text-align: center;
    margin: 5px;
}
