.totaldiv{
    width: 580px;
    height: 600px;
    background-color: lightgray;
    margin: auto;
    border: 1px solid black;
    border-radius: 50px;
}
.img1{
    width: 150px;
    height: 150px;
    margin-left: 200px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid white;
}
.div1{
    padding-top:20px;
}
.p1,.head1{
    font-size: 20px;
    color: black;
    text-align: center;
    margin: auto;
}
.div2{
    padding-left: 40px;
    margin: auto;
    padding-top: 30px;
}
.p2{
    float:left;
    padding-left: 40px;
    text-align: center;
    font-size: 20px;
}
.div3{
    margin: auto;
    padding-top: 100px;
    justify-content: center;
    padding-left: 50px;
}
i{
    float:left;
    padding-left: 30px;
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    border: 2px solid block;
}
.div4{
    margin:auto;
    padding: 90px;
}
.div4 h1{
    float:left;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin-left: 20px;
}
b{
    font-size: 25px;
}
