body{
    background-color:#222021;
}
.head1{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color:white;
}
table{
    margin: auto;
    padding-top: 10px;
}
.ha1{
    background-color:white;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    width: 300px;
}
.ha2{
    background-color:orange;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    width: 150px;
}
.ha3{
    background-color:red;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    width: 150px;
}
.ha4{
    background-color:skyblue;
    border: 1px solid transparent;
    font-size: 20px;
    text-align: center;
    width: 150px;
}
.t1{
    background-color:transparent;
    border: 1px solid grey;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 50px;
}
.t2{
    background-color:transparent;
    border: 1px solid grey;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 50px;
}
i{
    font-size: 25px;
}
.bt1{
    width: 100px;
    height: 50px;
    font-size: 20px;
}